/* Псевдокласс :root используется в CSS для выбора родительского элемента самого высокого 
уровня внутри заданной спецификации. */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  /* CSS свойство filter позволяет вам применять к элементу такие графические эффекты, как 
  размытие и смещение цвета */
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
